* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

/* desactive la scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url(background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  color: white;
}

#dstLogo {
  height: 5em;
}

label {
  margin: 0;
  padding: 5px;
  font-size: 30px;

  background-color: #000000;
  cursor: pointer;
  border-radius: 5px;
}

label:hover {
  background-color: #c0c0c0;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

h1 {
  margin: 0 auto;
  font-size: 30px;
  font-family: "Archivo", sans-serif;
  font-weight: normal;
}

#toggle {
  display: none;
}

#toggle:checked + .menuItems {
  display: flex;
}
.menuItems {
  position: absolute;
  display: none;
  flex-direction: column;
  margin-top: 31px;
  margin-left: -10px;
  list-style: none;
}

.menuItems a {
  font-family: "Archivo", sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
}
.menuItems li {
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  margin-bottom: 1px;
  color: rgba(255, 255, 255, 0.7);
}

.menuItems li:hover {
  background-color: rgb(0, 0, 0);
}

#logoSteam {
  height: 40px;
}

@media all and (max-width: 981px) {
  /* .menuItems li {
    padding: 15px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-bottom: 1px;
  } */
  .externalLinks {
    max-width: 80vw;
  }
  .modList {
    max-width: 80vw;
  }
}

#dayInput {
  border: transparent;
}

/*suppression du bouton de l'input*/
#dayInput::-webkit-outer-spin-button,
#dayInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.setDay {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  margin: 5px;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  border: 0px black transparent;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2em;
}

.setDay p {
  border-right: 1px white solid;
  padding-right: 60px;
}

.setDay input {
  display: flex;
  justify-items: center;
  font-size: 3em;
  height: 100%;
  margin: 5px;
  width: 2em;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}


#gridCalendar {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
  padding: 2%;
  border-radius: 1em;
}

.divDay {
  background-color: #000000a2;
  width: fit-content;
  height: 4em;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1%;
  border: 1px rgb(63, 62, 62) solid;
}

.divDay p {
  display: flex;
  border: 1px black transparent;
  border-radius: 40%;
  color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bolder;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 12vw;
}

.box1 {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.btnDay {
  width: fit-content;
  align-self: center;
  border-radius: 35px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 15px;
  font-size: 40px;
}

.btnDay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#reset {
  width: 70px;
  height: 70px;
  align-self: center;
  border-radius: 35px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 40px;
}

#reset:hover {
    background-color: rgba(0, 0, 0, 0.3);

}

.fullMoon {
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
}

.newMoon {
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0);
}

.autumn {
  border-bottom: 4px rgb(205, 79, 56) solid;
}

.winter {
  border-bottom:4px rgb(148, 191, 242) solid;
}

.spring {
  border-bottom:4px rgb(127, 201, 80) solid;
}

.summer {
  border-bottom:4px rgb(254, 206, 138) solid;
}

.mainbtn {
  display: flex;
  margin-top: 12vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mainbtn button {
  color: rgba(255, 255, 255, 0.7);
  margin: 5px;
  font-size: 2em;
  padding: 0.2em 0.5em;
  gap: 10px;
  border: 0px black transparent;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2em;
}

.mainbtn button a {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.mainbtn button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#titlePres {
  border-top: 2px solid rgba(128, 128, 128, 0.658);
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 12vw;
  padding: 1em;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  text-align: center;
}

#pres {
  margin-top: 0;
  text-align: center;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 1em;
  border-bottom: 2px solid rgba(128, 128, 128, 0.658);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#linearGradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(255, 255, 255, 0)
  );
  height: 2em;
}

.footerLinks {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.footerLinks:hover {
  text-decoration: underline;
}

.footerLinksBox {
  padding: 1em;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  margin-bottom: 10vw;
}

.allExternalLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.preview-card {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  border: 2px solid;
  border-right: #000000 solid;
  border-bottom: #000000 solid;
  border-top: #6d6d6d solid;
  border-left: #6d6d6d solid;
}
.preview-card:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.card-desc {
  text-wrap: calc();
}
.externalLinks {
  height: 20%;
  width: 35em;
}
#logoWiki {
  height: 115px;
}

#workshop {
  height: 115px;
  border-radius: 25%;
}

.modList {
  background-color: rgba(0, 0, 0, 0.7);
  border: white solid 1px;
  width: 35em;
  height: 35em;
  border-radius: 20px;

  border: 2px solid;
  border-right: #000000 solid;
  border-bottom: #000000 solid;
  border-top: #6d6d6d solid;
  border-left: #6d6d6d solid;
}

.mainExternalLinks {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
}

h1 {
  font-size: 3em;
  justify-self: center;
  margin: 30px;
}

h2 {
  font-size: 3em;
  justify-self: center;
  margin: 30px;
}

.box2 {
  margin-top: 12vw;
}

.deerClops {
  background-image: url(300px-Deerclops.webp);
  width: 6em;
  background-position-y: center;
  background-size: 120%;
  background-position-x: -150%;
  background-repeat: no-repeat;
  background-color: rgba(61, 61, 61, 0.7);
}

.MoonBackground {
    background-color: rgba(61, 61, 61, 0.7);

}

#seasonColor {
  display: none;
  justify-self: center;
  margin: 1%;
}

#autumnColor {
  background-color: rgb(205, 79, 56);
  height: 2em;
  display: flex;
  align-items: center;padding-bottom: 3px;padding-left: 1em;
  padding-right: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;

}

#winterColor{
  background-color: rgb(148, 191, 242);
  height: 2em;
  display: flex;  align-items: center;padding-bottom: 3px;
  padding-left: 1em;
  padding-right: 1em;


  
}

#springColor{
  background-color: rgb(127, 201, 80);
  height: 2em;
  display: flex;  align-items: center;padding-bottom: 3px;
padding-left: 1em;
  padding-right: 1em;

  
}

#summerColor{
  background-color: rgb(254, 206, 138);
  height: 2em;
  display: flex;  align-items: center;padding-left: 1em;
  padding-right: 1em;
padding-bottom: 3px;
border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}