* {
  margin: 0;
  padding: 0;
      font-family: 'Archivo', sans-serif;

}

label {
  margin: 0;
  padding: 5px;
  font-size: 30px;
  background-color: #d1d1d1;
  cursor: pointer;
  border-radius: 5px;
}

label:hover {
  background-color: #c0c0c0;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 10px;
  background-color: #d1d1d1;
}

h1 {
  margin: 0 auto;
  font-size: 30px;
  font-family: "Archivo", sans-serif;
  font-weight: normal;
}

#toggle {
  display: none;
}

#toggle:checked + .menuItems {
  display: flex;
}
.menuItems {
  position: absolute;
  display: none;
  flex-direction: column;
  margin-top: 13px;
  margin-left: -10px;
  list-style: none;
}

.menuItems a {
  font-family: "Archivo", sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
}
.menuItems li {
  padding: 15px 10px;
  background-color: #d1d1d1;
  width: 20vw;
  margin-bottom: 1px;
}

.menuItems li:hover {
  background-color: #c0c0c0;
}

#logoSteam {
  height: 40px;
}

@media all and (max-width: 981px) {
  .menuItems li {
    padding: 15px 10px;
    background-color: #d1d1d1;
    width: 100vw;
    margin-bottom: 1px;
  }
}

/*suppression du bouton de l'input*/
/* #dayInput::-webkit-outer-spin-button,
#dayInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.setDay {
  display: flex;
  margin: 5px;
  align-items: center;
}

.setDay input {
  display: flex;
  justify-items: center;
  font-size: 4em;
  height: 100%;
  margin: 5px;
  width: 2em;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);

}

#gridCalendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 3%;
}

.divDay {
  border: 1px solid black;
  width: 200px;
  height: 4em;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1em;
}

.divDay p {
  display: flex;
  border: 1px black solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bolder;
}

.input {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12vw;
}

.box1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#btnDay {
  height: 70px;
  width: 70px;
  align-self: center;
  border-radius: 35px;
  cursor: pointer;
}

#btnDay:hover {
    background-color: #c0c0c0;

}

.fullMoon {
  border: 1px black solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  
}

.newMoon {
  border: 1px black solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0);
}

.autumn {
  background-color: orangered;
}

.winter {
  background-color: cyan;
}

.spring {
  background-color: green;
}

.summer {
  background-color: yellow;
}